#about {
  padding: 40px 0 60px 0;
  text-align: center;
  font-family: $main-font;
  
  h2 {
    font-weight: 700;
  }
  
  #about-avatar {
    padding: 20px 0;
    
    img {
      height: 200px;
      width: 200px;
      @include border-radius(180px);
    }
  }
  
  .about-info {
    clear: both;
    
    p {
      font-size: 18px;
      margin: 10px 0 30px 0;
    }
    
    .read-more {
      margin-right: 20px;
    }
  }
  
  button {
    background: $red;
    border: none;
    padding: 10px 15px;
    @include border-radius(5px);
    margin-top: 10px;

    &:hover {
      background: $red * 1.15; 
    }

    a {
      color: $white;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      font-family: $button-font;

      &:hover {
        text-decoration: none;
      }
    } 
  }
}