#current-listings {
  padding: 2rem 1.5rem 3rem 1.5rem;
  
  @include breakpoint(sm) {
    text-align: center;
    padding: 2.5rem 1.5rem 5rem 1.5rem;
  }
  
  h2 {
    font-size: 40px;
    margin: 30px 0 0 0;
    color: $font-grey;
    text-align: center;
    font-family: $main-font;
    font-weight: 700;
  }
  
  hr {
    width: 30%;
    border-color: $font-grey;
    margin-bottom: 30px;
    margin-top: 5px;
  }
  
  .current-listing {
    display: block;
    border: solid 1px #ccc;
    overflow: hidden;
    height: 440px;
    @include border-radius(5px); 


    @include breakpoint (sm) {
      width: 350px;
    }
    
    .current-listing-pic {
      display: block;
      position: relative;
      text-align: center;
      overflow: hidden;
      width: 100%;
      img {

      }
    }
  
  .current-listing-box {
    padding: 0;
  }
  
  .current-listing-info {
    padding: 0 0 20px 0;
    text-align: center;
    
      ul {
        list-style: none;
        padding: 0px;

        li {

          button {
            background: $red;
            border: none;
            padding: 10px 15px;
            @include border-radius(2px);
            margin-top: 10px;

            &:hover {
              background: $red * 1.15; 
            }

            a {
              color: $white;
              font-weight: 500;
              font-family: $main-font;
              -webkit-font-smoothing: antialiased;

              &:hover {
                text-decoration: none;
              }
            } 
          }

          h3 {

          }

          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  
  .bx-wrapper .bx-viewport {
    left: 0;
    
    @include breakpoint(sm) {
      left: -5px;
    }
  }
}