header {
  display: block;
  padding: 0.5rem 2rem;
  height: 75px;
  display: none;
  
  @include breakpoint(sm) {
    height: 100px;
    padding: 0 2rem;
    display: block;
  }
  
  .header-info {
    height: 75px;
    color: $font-grey;
    clear: both;
    
    
    @include breakpoint(sm) {
      height: 105px;
      width: 100%;
      text-align: center;
    }
    
    h1 {
      font-size: 3rem;
      font-family: $main-font;
      text-transform: uppercase;
      font-weight: 200;
      margin: 0;
      
      @include breakpoint(sm) {
        font-size: 5rem;
      }
    }
    
    h2 {
      margin: 0px;
      font-size: 2.5rem;
      
      @include breakpoint(sm) {
        font-size: 2.7rem;
      }
    }
    
    img {
      display: none;
      height: 90px;
      
      @include breakpoint(sm) {
        display: block;
        float: right;
        margin: -8.2rem 2rem 0 0;
      }
    }
  }
}

.banner {
  background: url('../img/stock-photo-small.jpg') center no-repeat;
  background-size: cover;
  padding: 0 0 14rem 0;
  
  @include breakpoint(sm) {
    background: url('../img/stock-photo.jpg') center no-repeat;
  }
  
  .banner-content {
    
    .nanci-card {
      display: block;
      overflow: hidden;
      height: 500px;
      width: 240px;
      background: $white;
      text-align: center;
      margin: 50px auto 0;
      
      @include breakpoint(sm) {
        float: left;
      }
      .card-info {
        height: auto;
        color: $font-grey;
        
        h1 {
          font-size: 3.5rem;
          margin: 1rem;
          font-weight: 700;
        }
        
        h2 {
          font-size: 3.0rem;
          margin: -0.5rem 0 0;
        }
        
        h3 {
          font-size: 1.8rem;
          margin: 0.5rem;
        }
        
        h4 {
          font-size: 1.7rem;
        }
        
        ul.social-icons {
          list-style: none;
          padding: 0;
          margin-top: 1.5rem;
          
          
          li {
            display: inline-block;
            margin: 0 8px;
            width: 26px;
            height: 25px;
            
            .mail {
              display: block;
              width: 26px;
              height: 25px;
              background: transparent url("../img/mail-light.png") no-repeat;
              -webkit-transition: background .3s ease-in-out;
              -moz-transition: background .3s ease-in-out;
              transition: background .3s ease-in-out;
              
              &:hover {
                background: transparent url("../img/mail-dark.png") no-repeat;
              }
            }

            .facebook {
              display: block;
              width: 26px;
              height: 25px;
              background: url("/img/facebook-light.png");
              -webkit-transition: background .3s ease-in-out;
              -moz-transition: background .3s ease-in-out;
              transition: background .3s ease-in-out;
              
              &:hover {
                background: transparent url("../img/facebook-dark.png") no-repeat;
              }
            }

            .linked {
              display: block;
              width: 26px;
              height: 25px;
              background: url("/img/linked-light.png");
              -webkit-transition: background .3s ease-in-out;
              -moz-transition: background .3s ease-in-out;
              transition: background .3s ease-in-out;
              
              &:hover {
                background: transparent url("../img/linked-dark.png") no-repeat;
              }
            }
          }
        }
      }
      
      img {
        height: 275px;
      }
    } 
  }
  
  .navbar {
    margin-bottom: 6rem;
    background: $maroon;
    @include border-radius(0px);
    
    a {
      color: $white;
    }
    
    a.navbar-brand {
        
    }
    
    li {
      a {
        color: $white;
        font-size: 1.6rem;
        
        &:hover {
          color: $white * 0.7;
        }
      }
    }
     
  }
  
  .navbar-default, .navbar-collapse {
    border: none;
  }
}