nav {
  background: $white;
  
  .brand {
    float: left;
    margin: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 410px;
    
    a:hover, a:visited {
      text-decoration: none;
    } 
    
    h1 {
      color: $font-grey;
      margin: 5px 0;
      text-transform: uppercase;
      font-weight: 200;
      font-family: $main-font;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      span {
        color: $grey;
      }
    }

    h2 {
      color: $font-grey;
      margin: 5px 0;
      font-size: 24px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  
  .burger {
    display: none;
  }
}

nav.navbar {
  margin: 0;
  border-bottom: 3px solid $red;
}
/*  nav.shrink  */
nav.shrink {
  .brand {
    margin: 0;

    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 16px;
    }
  }
}

nav.shrink {
  ul.left-nav {
    li {
      padding: 20px 0 20px 0;
      
      a {
        font-size: 15px;
      }
    }
  }
  
  ul.right-nav {
    li {
      padding: 20px 0 20px 0;
      
      a {
        font-size: 15px;
      }
    }
  }
  
  ul.topnav {
    height: 55px;
  }
  
  ul.topnav li a {
    font-size: 15px;
  }
}


ul.left-nav {
  float: left;
  list-style: none;
  padding: 0;
  width: 365px;
  margin: 0;
  
  li {
    display: inline-block;
    padding: 63px 0 0 0;
    width: 45%;
    text-align: center;
    
    a {
      color: $font-grey;
      font-weight: 700;
      text-align: center;
      padding: 0px 10px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
      
      &:hover {
        color: $red;
      }
    }
  }
}

ul.right-nav {
  float: left;
  list-style: none;
  padding: 0;
  width: 365px;
  margin: 0;
  
  li {
    display: inline-block;
    float: right;
    padding: 63px 0 0 0;
    width: 45%;
    text-align: center;
    
    a {
      color: $font-grey;
      font-weight: 700;
      text-align: center;
      padding: 14px 10px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
      
      &:hover {
        color: $red;
      }
    }
  }
}

ul.topnav {
  list-style-type: none;
  margin: 0 15px 0 0;
  padding: 0;
  overflow: hidden;
  float: right;
  height: 100px;
  display: none;
}

ul.topnav li {
  float: left;
  @include vertical-align();
}

ul.topnav li a {
  display: inline-block;
  color: $font-grey;
  font-weight: 700;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: inherit;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:1199px) {
  ul.right-nav, ul.left-nav {
    display: none;
  }
  
  ul.topnav {
    height: 100%;
  }
  
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    margin-top: 35px;
  }
  
  ul.topnav li a {
    padding: 5px 20px;
  }
  nav {
    .brand {
      margin: 0;
      width: 300px;

      h1 {
        font-size: 26px;
        margin-top: 5px;
      }

      h2 {
        font-size: 16px;
      }
    }
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1199px) {
  ul.right-nav, ul.left-nav {
    display: none;
  }
  
  ul.topnav {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
    color: $red;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    padding: 10px 20px;
    
    &:hover {
      color: $red;
    }
  }
  
  nav {
    .brand {
      margin: 0 0 5px 0;
      width: 350px;

      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 18px;
      }
    }
    
    .burger {
      display: block;
      position: relative;
      float: right;
      margin: 20px 5px 0 0;
      
      a {
        color: $grey;
        text-decoration: none;
        font-size: 20px;
      }
      
      a:visited {
        color: $grey;
        text-decoration: none;
      }
    }
  }
}

/* iPhone 5 type screens */
@media screen and (max-width:374px) {
  nav {
    .brand {
      margin: 0 0 5px 0;
      width: 250px;

      h1 {
        font-size: 22px;
      }

      h2 {
        font-size: 14px;
      }
    }
    
    .burger {
      display: block;
      position: relative;
      float: right;
      margin: 15px 5px 0 0;
      
      a {
        color: $grey;
        text-decoration: none;
        font-size: 20px;
      }
      
      a:visited {
        color: $grey;
        text-decoration: none;
      }
    }
  }
}


/* hamburger icon */

$bar-width: 20px;
$bar-height: 2px;
$bar-spacing: 5px;

.hamburger-menu {
  position: absolute;
  top: 25px;
  left: 0;
  right: 25px;
  bottom: 0;
  margin: auto;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(0, 0, 0, 1);
	transition: all 0ms 300ms;
  
  &.animate {
    background: transparent; 
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(0, 0, 0, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(0, 0, 0, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
//#nav.affix, #nav-nanci.affix {
//  position: fixed;
//  top: 0;
//  width: 100%;
//}
//
//.navbar {
//  margin: 0;
//  background: $maroon;
//  @include border-radius(0px);
//  z-index: 5;
//  
//  a {
//    color: $white;
//  }
//
//  a.navbar-brand {
//    display: none;
//    font-family: $main-font;
//    font-size: 24px;
//    font-weight: 700;
//    -webkit-transition: all 0s ease-in-out;
//    -moz-transition: all 0s ease-in-out;
//    transition: all 0s ease-in-out;
//  }
//  
//  a.navbar-brand:hover {
//    color: $white * 0.7;
//    font-size: 24px;
//  }
//
//  li {
//    float: none;
//    display: inline-block;
//    
//    a, a.page-scroll {
//      color: $white;
//      font-size: 1.6rem;
//      
//      &:visited, &:focus {
//        color: $white;  
//      }
//      
//      &:hover {
//        color: $white * 0.7;
//      }
//    }
//  }
//
//}
//
//.navbar-default, .navbar-collapse {
//  border: none;
//}
//
//.navbar-default .navbar-nav>li>a {
//  color: $white;
//  font-size: 1.6rem;
//
//  &:hover {
//    color: $white * 0.7;
//  }
//}
//
//.nav-wrapper {
//  min-height: 50px;  
//}
//
//.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
//  color: $white;
//  font-size: 1.6rem;
//
//  &:hover {
//    color: $white * 0.9;
//  }
//}
//
//.navbar-nav {
//  float: none;
//  text-align: center;
//}
//
//#nav-nanci {
//  a.navbar-brand {
//    display: block;
//    font-family: $main-font;
//    font-size: 24px;
//    font-weight: 700;
//    opacity: 1;
//  }
//}
//
