#nav.affix, #nav-nanci.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  margin: 0;
  background: $maroon;
  @include border-radius(0px);
  z-index: 5;
  
  a {
    color: $white;
  }

  a.navbar-brand {
    display: none;
    font-family: $main-font;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
  }
  
  a.navbar-brand:hover {
    color: $white * 0.7;
    font-size: 24px;
  }

  li {
    float: none;
    display: inline-block;
    
    a, a.page-scroll {
      color: $white;
      font-size: 1.6rem;
      
      &:visited, &:focus {
        color: $white;  
      }
      
      &:hover {
        color: $white * 0.7;
      }
    }
  }

}

.navbar-default, .navbar-collapse {
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: $white;
  font-size: 1.6rem;

  &:hover {
    color: $white * 0.7;
  }
}

.nav-wrapper {
  min-height: 50px;  
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: $white;
  font-size: 1.6rem;

  &:hover {
    color: $white * 0.9;
  }
}

.navbar-nav {
  float: none;
  text-align: center;
}

#nav-nanci {
  a.navbar-brand {
    display: block;
    font-family: $main-font;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
  }
}

