#third-section {
  background: $coach-blue;
  display: block;
  padding: 8rem 0;
  
  .third-info-box {
    text-align: center;
    padding: 0 2rem;
    
    h2 {
      color: $white;
      font-size: 2.8rem;
    }
    
    i {
      color: $white;
    }
    
    p {
      font-size: 1.8rem;
      color: $white;
    }
  }
  
  #box1 {
    position: relative;
    right: 500px;
    opacity: 0;
  }
  
  #box2 {
    position: relative;
    right: 500px;
    opacity: 0;
  }
  
  #box3 {
    position: relative;
    right: 500px;
    opacity: 0;
  }
  
  #box1.animate3 {
    right: 0;
    opacity: 1;
  }
  
  #box2.animate2 {
    right: 0;
    opacity: 1;
  }
  
  #box3.animate1 {
    right: 0;
    opacity: 1;
  }
  
  button {
    background: $maroon;
    border: none;
    padding: 10px 15px;
    @include border-radius(5px);
    margin-top: 10px;

    &:hover {
      background: $maroon * 1.15; 
    }

    a {
      color: $white;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;

      &:hover {
        text-decoration: none;
      }
    } 
  }

}