#third-section {
  background: #1ba6de;
  display: block;
  padding: 10rem 0;
  
  .third-info-box {
    text-align: center;
    padding: 0 2rem;
    
    h2 {
      color: $white;
      font-size: 2.8rem;
    }
    
    i {
      color: $white;
    }
    
    p {
      font-size: 1.8rem;
      color: $white;
    }
  }
}