.sales {
  padding-top: 80px;
  background: #DFDFE0;
  
  @include breakpoint(sm) {
    padding-top: 100px;
  }
  
  .sales-title {
    text-align: center;
    font-family: $main-font;
    margin: 10px 0;
    
    @include breakpoint(sm) {
      margin: 35px 0;
    }
    
    h2 {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 30px;
      
      @include breakpoint(sm) {
        font-size: 38px;
      }
    }
    
    hr {
      width: 25%;
      border-color: $font-grey;
      margin-top: 5px;
    }
    
    ul.sales-years {
      list-style: none;
      padding: 0;
      
      li {
        display: inline-block;
        margin: 0 15px;
        
        button.main-button {
          padding: 10px;
          
          @include breakpoint(sm) {
            padding: 10px 15px;
          }
          a {
            font-size: 16px;
            font-weight: 700;
          } 
        }
      }
    }
  }
  
  .listing {
    max-width: 350px;
    height: 460;
    display: block;
    border: solid 1px #ccc;
    overflow: hidden;
    @include border-radius(5px);
    margin: 10px auto;
    background: $white;

    @include breakpoint(sm) {

    }

    .listing-pic {
      display: block;
      position: relative;
      text-align: center;
      overflow: hidden;
      width: 350px;
      img {

      }
    }

    .listing-info {
      padding: 0 0 20px 0;
      ul {
        list-style: none;

        li {

          button {
            background: $maroon;
            border: none;
            padding: 10px 15px;
            margin-top: 10px;

            &:hover {
              background: $maroon * 1.15; 
            }

            a {
              color: $white;
              font-weight: 500;
              -webkit-font-smoothing: antialiased;

              &:hover {
                text-decoration: none;
              }
            } 
          }

          h3 {

          }

          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}