@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.eot?") format("eot"), url("/fonts/Montserrat.woff2") format("woff2"), url("/fonts/Montserrat.woff") format("woff"), url("/fonts/Montserrat.ttf") format("truetype"), url("/fonts/Montserrat.svg#Montserrat") format("svg"); }
* {
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; }

.animate1 {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out; }

.animate2 {
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out; }

.animate3 {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.right {
  float: right; }

.left {
  float: left; }

.ctr {
  text-align: center; }

.nopad {
  padding: 0; }

.clearfix {
  clear: both; }

.heavy {
  font-weight: 700; }

header {
  display: block;
  padding: 0.5rem 2rem;
  height: 75px;
  display: none; }
  @media (min-width: 768px) {
    header {
      height: 100px;
      padding: 0 2rem;
      display: block; } }
  header .header-info {
    height: 75px;
    color: #4a4b4f;
    clear: both; }
    @media (min-width: 768px) {
      header .header-info {
        height: 105px;
        width: 100%;
        text-align: center; } }
    header .header-info h1 {
      font-size: 3rem;
      font-family: "Work Sans", sans-serif;
      text-transform: uppercase;
      font-weight: 200;
      margin: 0; }
      @media (min-width: 768px) {
        header .header-info h1 {
          font-size: 5rem; } }
    header .header-info h2 {
      margin: 0px;
      font-size: 2.5rem; }
      @media (min-width: 768px) {
        header .header-info h2 {
          font-size: 2.7rem; } }
    header .header-info img {
      display: none;
      height: 90px; }
      @media (min-width: 768px) {
        header .header-info img {
          display: block;
          float: right;
          margin: -8.2rem 2rem 0 0; } }

.banner {
  background: url("../img/stock-photo-small.jpg") center no-repeat;
  background-size: cover;
  padding: 0 0 14rem 0; }
  @media (min-width: 768px) {
    .banner {
      background: url("../img/stock-photo.jpg") center no-repeat; } }
  .banner .banner-content .nanci-card {
    display: block;
    overflow: hidden;
    height: 500px;
    width: 240px;
    background: #fff;
    text-align: center;
    margin: 50px auto 0; }
    @media (min-width: 768px) {
      .banner .banner-content .nanci-card {
        float: left; } }
    .banner .banner-content .nanci-card .card-info {
      height: auto;
      color: #4a4b4f; }
      .banner .banner-content .nanci-card .card-info h1 {
        font-size: 3.5rem;
        margin: 1rem;
        font-weight: 700; }
      .banner .banner-content .nanci-card .card-info h2 {
        font-size: 3.0rem;
        margin: -0.5rem 0 0; }
      .banner .banner-content .nanci-card .card-info h3 {
        font-size: 1.8rem;
        margin: 0.5rem; }
      .banner .banner-content .nanci-card .card-info h4 {
        font-size: 1.7rem; }
      .banner .banner-content .nanci-card .card-info ul.social-icons {
        list-style: none;
        padding: 0;
        margin-top: 1.5rem; }
        .banner .banner-content .nanci-card .card-info ul.social-icons li {
          display: inline-block;
          margin: 0 8px;
          width: 26px;
          height: 25px; }
          .banner .banner-content .nanci-card .card-info ul.social-icons li .mail {
            display: block;
            width: 26px;
            height: 25px;
            background: transparent url("../img/mail-light.png") no-repeat;
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out; }
            .banner .banner-content .nanci-card .card-info ul.social-icons li .mail:hover {
              background: transparent url("../img/mail-dark.png") no-repeat; }
          .banner .banner-content .nanci-card .card-info ul.social-icons li .facebook {
            display: block;
            width: 26px;
            height: 25px;
            background: url("/img/facebook-light.png");
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out; }
            .banner .banner-content .nanci-card .card-info ul.social-icons li .facebook:hover {
              background: transparent url("../img/facebook-dark.png") no-repeat; }
          .banner .banner-content .nanci-card .card-info ul.social-icons li .linked {
            display: block;
            width: 26px;
            height: 25px;
            background: url("/img/linked-light.png");
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out; }
            .banner .banner-content .nanci-card .card-info ul.social-icons li .linked:hover {
              background: transparent url("../img/linked-dark.png") no-repeat; }
    .banner .banner-content .nanci-card img {
      height: 275px; }
  .banner .navbar {
    margin-bottom: 6rem;
    background: #8a2003;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    .banner .navbar a {
      color: #fff; }
    .banner .navbar li a {
      color: #fff;
      font-size: 1.6rem; }
      .banner .navbar li a:hover {
        color: #b3b3b3; }
  .banner .navbar-default, .banner .navbar-collapse {
    border: none; }

#nav.affix, #nav-nanci.affix {
  position: fixed;
  top: 0;
  width: 100%; }

.navbar {
  margin: 0;
  background: #8a2003;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  z-index: 5; }
  .navbar a {
    color: #fff; }
  .navbar a.navbar-brand {
    display: none;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out; }
  .navbar a.navbar-brand:hover {
    color: #b3b3b3;
    font-size: 24px; }
  .navbar li {
    float: none;
    display: inline-block; }
    .navbar li a, .navbar li a.page-scroll {
      color: #fff;
      font-size: 1.6rem; }
      .navbar li a:visited, .navbar li a:focus, .navbar li a.page-scroll:visited, .navbar li a.page-scroll:focus {
        color: #fff; }
      .navbar li a:hover, .navbar li a.page-scroll:hover {
        color: #b3b3b3; }

.navbar-default, .navbar-collapse {
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 1.6rem; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #b3b3b3; }

.nav-wrapper {
  min-height: 50px; }

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
  font-size: 1.6rem; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus:hover, .navbar-default .navbar-brand:hover:hover {
    color: #e6e6e6; }

.navbar-nav {
  float: none;
  text-align: center; }

#nav-nanci a.navbar-brand {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  opacity: 1; }

#current-listings {
  padding: 2rem 1.5rem 3rem 1.5rem; }
  @media (min-width: 768px) {
    #current-listings {
      text-align: center;
      padding: 2.5rem 1.5rem 5rem 1.5rem; } }
  #current-listings h2 {
    font-size: 40px;
    margin: 30px 0 30px 0;
    color: #4a4b4f;
    text-align: center; }
  #current-listings .current-listing {
    display: block;
    border: solid 1px #ccc;
    overflow: hidden;
    height: 440px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    @media (min-width: 768px) {
      #current-listings .current-listing {
        width: 350px; } }
    #current-listings .current-listing .current-listing-pic {
      display: block;
      position: relative;
      text-align: center;
      overflow: hidden;
      width: 100%; }
    #current-listings .current-listing .current-listing-box {
      padding: 0; }
    #current-listings .current-listing .current-listing-info {
      padding: 0 0 20px 0;
      text-align: center; }
      #current-listings .current-listing .current-listing-info ul {
        list-style: none;
        padding: 0px; }
        #current-listings .current-listing .current-listing-info ul li button {
          background: #8a2003;
          border: none;
          padding: 10px 15px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          margin-top: 10px; }
          #current-listings .current-listing .current-listing-info ul li button:hover {
            background: #9f2503; }
          #current-listings .current-listing .current-listing-info ul li button a {
            color: #fff;
            font-weight: 500;
            -webkit-font-smoothing: antialiased; }
            #current-listings .current-listing .current-listing-info ul li button a:hover {
              text-decoration: none; }
        #current-listings .current-listing .current-listing-info ul li p {
          font-size: 1.5rem; }
  #current-listings .bx-wrapper .bx-viewport {
    left: 0; }
    @media (min-width: 768px) {
      #current-listings .bx-wrapper .bx-viewport {
        left: -5px; } }

#third-section {
  background: #0068b3;
  display: block;
  padding: 4rem 0; }
  @media (min-width: 992px) {
    #third-section {
      padding: 8rem 0; } }
  #third-section .third-info-box {
    text-align: center;
    padding: 20px 2rem; }
    @media (min-width: 992px) {
      #third-section .third-info-box {
        padding: 0 2rem; } }
    #third-section .third-info-box h2 {
      color: #fff;
      font-size: 2.8rem; }
    #third-section .third-info-box i {
      color: #fff; }
    #third-section .third-info-box p {
      font-size: 1.8rem;
      color: #fff; }
  #third-section #box1 {
    position: relative;
    right: 500px;
    opacity: 0; }
  #third-section #box2 {
    position: relative;
    right: 500px;
    opacity: 0; }
  #third-section #box3 {
    position: relative;
    right: 500px;
    opacity: 0; }
  #third-section #box1.animate3 {
    right: 0;
    opacity: 1; }
  #third-section #box2.animate2 {
    right: 0;
    opacity: 1; }
  #third-section #box3.animate1 {
    right: 0;
    opacity: 1; }
  #third-section button {
    background: #8a2003;
    border: none;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px; }
    #third-section button:hover {
      background: #9f2503; }
    #third-section button a {
      color: #fff;
      font-weight: 500;
      -webkit-font-smoothing: antialiased; }
      #third-section button a:hover {
        text-decoration: none; }

#contact {
  padding: 3rem 0;
  background: rgba(206, 206, 206, 0.5);
  text-align: center; }
  @media (min-width: 768px) {
    #contact {
      padding: 5rem 0; } }
  #contact .contact-info {
    text-align: center; }
    #contact .contact-info i {
      margin: 25px 0px 10px 0px; }
  #contact h2.contact-nanci {
    margin-bottom: 20px; }
  #contact h2.section-heading {
    font-size: 3rem;
    margin: 15px 0 15px 0;
    display: none; }
    @media (min-width: 768px) {
      #contact h2.section-heading {
        display: block; } }
  #contact hr {
    border: #8a2003 solid 1px; }
  #contact hr.primary {
    max-width: 50px;
    margin: 25px auto 50px auto;
    display: none; }
    @media (min-width: 768px) {
      #contact hr.primary {
        display: block; } }
  #contact hr.secondary {
    max-width: 60%;
    margin: 15px auto; }
  #contact .map {
    text-align: center; }
    #contact .map iframe {
      max-width: 500px; }
  #contact p {
    font-size: 1.7rem; }
    #contact p a {
      color: #0068b3; }
      #contact p a:hover {
        text-decoration: none;
        color: inherit; }
  #contact ul.coach-address {
    list-style: none;
    margin: 40px 0;
    padding: 0; }
    #contact ul.coach-address li {
      font-size: 2rem;
      font-weight: 500;
      margin: 10px 0; }

footer {
  background: #fff;
  padding: 3rem 0;
  text-align: center; }
  footer a {
    color: #0068b3; }
  @media (min-width: 768px) {
    footer {
      text-align: inherit; } }
  @media (min-width: 768px) {
    footer .footer-right {
      text-align: right; } }

.listing {
  max-width: 350px;
  height: 460;
  display: block;
  border: solid 1px #ccc;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto; }
  .listing .listing-pic {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 350px; }
  .listing .listing-info {
    padding: 0 0 20px 0; }
    .listing .listing-info ul {
      list-style: none; }
      .listing .listing-info ul li button {
        background: #8a2003;
        border: none;
        padding: 10px 15px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin-top: 10px; }
        .listing .listing-info ul li button:hover {
          background: #9f2503; }
        .listing .listing-info ul li button a {
          color: #fff;
          font-weight: 500;
          -webkit-font-smoothing: antialiased; }
          .listing .listing-info ul li button a:hover {
            text-decoration: none; }
      .listing .listing-info ul li p {
        font-size: 1.5rem; }

#about {
  padding: 40px 0;
  text-align: center; }
  #about #about-avatar {
    padding: 20px 0; }
    #about #about-avatar img {
      height: 200px;
      width: 200px;
      -webkit-border-radius: 180px;
      -moz-border-radius: 180px;
      -ms-border-radius: 180px;
      border-radius: 180px; }
  #about .about-info {
    clear: both; }
    #about .about-info p {
      font-size: 16px;
      margin: 10px 0 30px 0; }
    #about .about-info .read-more {
      margin-right: 20px; }
  #about button {
    background: #8a2003;
    border: none;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px; }
    #about button:hover {
      background: #9f2503; }
    #about button a {
      color: #fff;
      font-weight: 500;
      -webkit-font-smoothing: antialiased; }
      #about button a:hover {
        text-decoration: none; }

#home-vendors {
  padding: 20px 0;
  text-align: center;
  background: #8a2003;
  color: #fff; }

.vendor-banner {
  text-align: center;
  padding: 40px 0; }
  .vendor-banner h1 {
    font-size: 50px; }
  .vendor-banner h3 {
    font-size: 30px; }

.vendors {
  box-sizing: border-box;
  margin: 0 auto; }
  .vendors .vendor-card {
    margin: 15px 20px;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    max-width: 350px;
    border: 1px solid #ccc;
    transition: all .2s ease-in-out; }
    .vendors .vendor-card:hover {
      opacity: 0.9;
      cursor: pointer;
      transform: scale(1.05); }
    .vendors .vendor-card .vendor-info {
      padding: 0 20px;
      text-align: center;
      border-top: 1px solid #ccc; }
      .vendors .vendor-card .vendor-info h3 {
        line-height: 1.2;
        color: #0f1926;
        font-size: 2.5rem;
        font-weight: 700; }
      .vendors .vendor-card .vendor-info p {
        line-height: 1.2;
        color: #0f1926;
        font-size: 1.4rem;
        opacity: .6;
        padding: .4em 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .vendors .vendor-card img {
      width: 100%; }

.vendor-content {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 0;
  visibility: hidden;
  background-color: #ebebeb;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
  transition: transform 0.4s 0s, visibility 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83); }

.vendor-content > div {
  height: 100%;
  overflow-y: auto;
  padding: 4em 2em; }

.vendor-content > div > * {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.vendor-content.is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83); }

.vendor-content.is-visible > div {
  /* smooth scrolling on iOS */
  -webkit-overflow-scrolling: touch; }

.vendor-content h2 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center; }

.vendor-content h3 {
  text-align: center; }

.vendor-content em {
  display: block;
  font-size: 1.8rem;
  font-style: italic;
  margin: 0.5em auto;
  text-align: center; }

.vendor-content p {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #6f757c;
  text-align: center; }

.vendor-content em, .vendor-content p {
  line-height: 1.6; }

.vendor-content .close-content {
  display: block;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 60px;
  right: 10px;
  background: url(../img/cd-close-dark.svg) no-repeat center center; }

.vendor-content img {
  display: block;
  margin: 0 auto;
  max-width: 416px;
  width: 100%; }

ul.vendor-list {
  max-width: 400px;
  list-style: none; }
  ul.vendor-list li {
    font-size: 20px; }

@media only screen and (min-width: 900px) {
  .vendor-content h2 {
    font-size: 4rem; }

  .vendor-content em {
    font-size: 2.4rem; }

  .vendor-content p {
    font-size: 1.8rem; }

  .vendor-content .close {
    top: 30px;
    right: 5%; } }
/* -------------------------------- 

Keyframes

-------------------------------- */
@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateY(100px); }
  100% {
    -moz-transform: translateY(0); } }
@keyframes cd-translate {
  0% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@media screen and (min-width: 1200px) {
  .bricklayer-column-sizer {
    /* divide by 3. */
    width: 33.3%; } }
@media screen and (min-width: 768px) {
  .bricklayer-column-sizer {
    /* divide by 2. */
    width: 50%; } }
#coach {
  position: relative;
  clear: both; }
  #coach header {
    text-align: center;
    color: #fff;
    position: relative;
    height: 100%;
    background: #0068b3;
    display: block; }
    #coach header img {
      display: inline-block;
      padding: 30px 0; }
    #coach header p {
      font-size: 16px;
      margin: 10px 0 30px 0; }
  #coach ul.coach-images {
    list-style: none;
    text-align: center;
    padding: 0; }
    #coach ul.coach-images li {
      display: inline-block;
      margin: 20px 10px; }

.nanci-avatar {
  clear: both;
  text-align: center; }
  @media (min-width: 992px) {
    .nanci-avatar {
      text-align: left; } }
  .nanci-avatar img {
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    border-radius: 180px;
    height: 200px;
    border: 4px solid #fff;
    margin: -100px 0 0 0;
    position: relative; }
    @media (min-width: 992px) {
      .nanci-avatar img {
        margin: -100px 0 0 30px; } }

.nanci-banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/sample-image.jpg") center no-repeat;
  color: #fff;
  text-align: center;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  clear: both; }
  .nanci-banner h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 0 10px 0; }
    @media (min-width: 768px) {
      .nanci-banner h1 {
        font-size: 60px;
        margin: 60px 0 30px 0; } }
  .nanci-banner h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 120px 0; }
    @media (min-width: 768px) {
      .nanci-banner h2 {
        font-size: 30px; } }
    @media (min-width: 992px) {
      .nanci-banner h2 {
        margin: 0 0 80px 0; } }

.fadeIn-brand {
  opacity: 1; }
