@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.eot?") format("eot"), url("/fonts/Montserrat.woff2") format("woff2"), url("/fonts/Montserrat.woff") format("woff"), url("/fonts/Montserrat.ttf") format("truetype"), url("/fonts/Montserrat.svg#Montserrat") format("svg"); }
* {
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; }

.animate1 {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out; }

.animate2 {
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out; }

.animate3 {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.right {
  float: right; }

.left {
  float: left; }

.ctr {
  text-align: center; }

.nopad {
  padding: 0; }

.clearfix {
  clear: both; }

.heavy {
  font-weight: 700; }

header {
  display: block;
  overflow: auto;
  padding: 0.5rem 2rem;
  height: 75px; }
  @media (min-width: 768px) {
    header {
      height: 100px;
      padding: 0 2rem; } }
  header .header-info {
    height: 75px;
    color: #4a4b4f;
    clear: both; }
    @media (min-width: 768px) {
      header .header-info {
        height: 105px;
        width: 100%; } }
    header .header-info h1 {
      font-size: 3rem;
      font-family: "Work Sans", sans-serif;
      text-transform: uppercase;
      font-weight: 200;
      margin: 0; }
      @media (min-width: 768px) {
        header .header-info h1 {
          font-size: 5rem; } }
    header .header-info h2 {
      margin: 0px;
      font-size: 2.5rem; }
      @media (min-width: 768px) {
        header .header-info h2 {
          font-size: 3rem; } }
    header .header-info img {
      display: none;
      height: 90px; }
      @media (min-width: 768px) {
        header .header-info img {
          display: block;
          float: right;
          margin: -8.2rem 2rem 0 0; } }

.banner {
  background: url("../img/stock-photo-small.jpg") no-repeat;
  background-size: cover;
  padding: 0 0 14rem 0; }
  @media (min-width: 768px) {
    .banner {
      background: url("../img/stock-photo.jpg") no-repeat; } }
  .banner .banner-content .nanci-card {
    display: block;
    float: left;
    overflow: auto;
    height: 500px;
    width: 240px;
    background: #fff;
    text-align: center;
    margin-top: 50px; }
    .banner .banner-content .nanci-card .card-info {
      height: auto;
      color: #4a4b4f; }
      .banner .banner-content .nanci-card .card-info h1 {
        font-size: 3.5rem;
        margin: 1rem;
        font-weight: 700; }
      .banner .banner-content .nanci-card .card-info h2 {
        font-size: 3.0rem;
        margin: -0.5rem 0 0; }
      .banner .banner-content .nanci-card .card-info h3 {
        font-size: 1.8rem;
        margin: 0.5rem; }
      .banner .banner-content .nanci-card .card-info h4 {
        font-size: 1.7rem; }
      .banner .banner-content .nanci-card .card-info ul.social-icons {
        list-style: none;
        padding: 0;
        margin-top: 1.5rem; }
        .banner .banner-content .nanci-card .card-info ul.social-icons li {
          display: inline-block;
          margin: 0 8px;
          width: 26px;
          height: 25px; }
          .banner .banner-content .nanci-card .card-info ul.social-icons li .mail {
            display: block;
            width: 26px;
            height: 25px;
            background: transparent url("../img/mail-light.png") no-repeat;
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out; }
            .banner .banner-content .nanci-card .card-info ul.social-icons li .mail:hover {
              background: transparent url("../img/mail-dark.png") no-repeat; }
          .banner .banner-content .nanci-card .card-info ul.social-icons li .facebook {
            display: block;
            width: 26px;
            height: 25px;
            background: url("/img/facebook-light.png");
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out; }
            .banner .banner-content .nanci-card .card-info ul.social-icons li .facebook:hover {
              background: transparent url("../img/facebook-dark.png") no-repeat; }
          .banner .banner-content .nanci-card .card-info ul.social-icons li .linked {
            display: block;
            width: 26px;
            height: 25px;
            background: url("/img/linked-light.png");
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out; }
            .banner .banner-content .nanci-card .card-info ul.social-icons li .linked:hover {
              background: transparent url("../img/linked-dark.png") no-repeat; }
    .banner .banner-content .nanci-card img {
      height: 275px; }
  .banner .navbar {
    margin-bottom: 6rem;
    background: #8a2003;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    .banner .navbar a {
      color: #fff; }
    .banner .navbar li a {
      color: #fff;
      font-size: 1.6rem; }
      .banner .navbar li a:hover {
        color: #b3b3b3; }
  .banner .navbar-default, .banner .navbar-collapse {
    border: none; }

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%; }

.navbar {
  margin: 0;
  background: #8a2003;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  z-index: 5; }
  .navbar a {
    color: #fff; }
  .navbar a.navbar-brand {
    display: none;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out; }
  .navbar a.navbar-brand:hover {
    color: #b3b3b3;
    font-size: 24px; }
  .navbar li a, .navbar li a.page-scroll {
    color: #fff;
    font-size: 1.6rem; }
    .navbar li a:visited, .navbar li a:focus, .navbar li a.page-scroll:visited, .navbar li a.page-scroll:focus {
      color: #fff; }
    .navbar li a:hover, .navbar li a.page-scroll:hover {
      color: #b3b3b3; }

.navbar-default, .navbar-collapse {
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 1.6rem; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #b3b3b3; }

.nav-wrapper {
  min-height: 50px; }

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
  font-size: 1.6rem; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus:hover, .navbar-default .navbar-brand:hover:hover {
    color: #b3b3b3; }

#current-listings {
  padding: 2.5rem 1.5rem 5rem 1.5rem; }
  #current-listings h2 {
    font-size: 40px;
    margin: 30px 0 30px 0;
    color: #4a4b4f; }
  #current-listings .current-listing {
    width: 350px;
    height: 460;
    display: block;
    border: solid 1px #ccc;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    #current-listings .current-listing .current-listing-pic {
      display: block;
      position: relative;
      text-align: center;
      overflow: hidden;
      width: 350px; }
    #current-listings .current-listing .current-listing-info {
      padding: 0 0 20px 0; }
      #current-listings .current-listing .current-listing-info ul {
        list-style: none; }
        #current-listings .current-listing .current-listing-info ul li button {
          background: #8a2003;
          border: none;
          padding: 10px 15px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          margin-top: 10px; }
          #current-listings .current-listing .current-listing-info ul li button:hover {
            background: #9f2503; }
          #current-listings .current-listing .current-listing-info ul li button a {
            color: #fff;
            font-weight: 500;
            -webkit-font-smoothing: antialiased; }
            #current-listings .current-listing .current-listing-info ul li button a:hover {
              text-decoration: none; }
        #current-listings .current-listing .current-listing-info ul li p {
          font-size: 1.5rem; }

#third-section {
  background: #1ba6de;
  display: block;
  padding: 10rem 0; }
  #third-section .third-info-box {
    text-align: center;
    padding: 0 2rem; }
    #third-section .third-info-box h2 {
      color: #fff;
      font-size: 2.8rem; }
    #third-section .third-info-box i {
      color: #fff; }
    #third-section .third-info-box p {
      font-size: 1.8rem;
      color: #fff; }
  #third-section #box1 {
    position: relative;
    right: 500px;
    opacity: 0; }
  #third-section #box2 {
    position: relative;
    right: 500px;
    opacity: 0; }
  #third-section #box3 {
    position: relative;
    right: 500px;
    opacity: 0; }
  #third-section #box1.animate3 {
    right: 0;
    opacity: 1; }
  #third-section #box2.animate2 {
    right: 0;
    opacity: 1; }
  #third-section #box3.animate1 {
    right: 0;
    opacity: 1; }

#contact {
  padding: 5rem 0;
  background: rgba(206, 206, 206, 0.5);
  text-align: center; }
  #contact .contact-info {
    text-align: center; }
    #contact .contact-info i {
      margin: 25px 0px 10px 0px; }
  #contact h2.contact-nanci {
    margin-bottom: 20px; }
  #contact h2.section-heading {
    font-size: 3rem;
    margin: 15px 0 15px 0; }
  #contact hr {
    border: #8a2003 solid 1px; }
  #contact hr.primary {
    max-width: 50px;
    margin: 25px auto 50px auto; }
  #contact hr.secondary {
    max-width: 60%;
    margin: 15px auto; }
  #contact .map {
    text-align: center; }
    #contact .map iframe {
      max-width: 500px; }
  #contact p {
    font-size: 1.7rem; }
    #contact p a {
      color: #009afd; }
      #contact p a:hover {
        text-decoration: none;
        color: inherit; }
  #contact ul.coach-address {
    list-style: none;
    margin-top: 40px; }
    #contact ul.coach-address li {
      font-size: 2rem;
      font-weight: 500;
      margin: 10px 0; }

footer {
  background: #fff;
  padding: 3rem 0;
  text-align: center; }
  @media (min-width: 768px) {
    footer {
      text-align: inherit; } }
  @media (min-width: 768px) {
    footer .footer-right {
      text-align: right; } }

.listing {
  max-width: 350px;
  height: 460;
  display: block;
  border: solid 1px #ccc;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto; }
  .listing .listing-pic {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 350px; }
  .listing .listing-info {
    padding: 0 0 20px 0; }
    .listing .listing-info ul {
      list-style: none; }
      .listing .listing-info ul li button {
        background: #8a2003;
        border: none;
        padding: 10px 15px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin-top: 10px; }
        .listing .listing-info ul li button:hover {
          background: #9f2503; }
        .listing .listing-info ul li button a {
          color: #fff;
          font-weight: 500;
          -webkit-font-smoothing: antialiased; }
          .listing .listing-info ul li button a:hover {
            text-decoration: none; }
      .listing .listing-info ul li p {
        font-size: 1.5rem; }

#about {
  padding: 20px 0;
  text-align: center; }
  #about #about-avatar {
    padding: 20px 0; }
    #about #about-avatar img {
      height: 200px;
      width: 200px;
      -webkit-border-radius: 180px;
      -moz-border-radius: 180px;
      -ms-border-radius: 180px;
      border-radius: 180px; }
  #about .about-info {
    clear: both; }

#home-vendors {
  padding: 20px 0;
  text-align: center;
  background: #8a2003;
  color: #fff; }

.fadeIn-brand {
  opacity: 1; }
